@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: "GilroyMedium";
  src: url("../public/fonts/Gilroy-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "GilroyBold";
  src: url("../public/fonts/Gilroy-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "GilroyLight";
  src: url("../public/fonts/Gilroy-Light.otf");
  font-weight: 300;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-4000 {
    animation-delay: 6s;
  }
}
